.nav{
    border: 1px solid green;
    width: 30%;
    height: 90vh;
    position: absolute;
    top: 0;
}

.nav-items{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav-items li{
    display: flex;
    flex-direction: row;
    padding: 3px;
    align-items: center;
}

.nav-items li p{
    margin-left: 15px;
    font-weight: bold;
}

